<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>入力画面</h1>
      <input type="number" v-model="nyuryokugaku" />
      <div>入力額:{{nyuryokugaku}}円</div>

      <button v-on:click="nyukin">入金</button>
      <button v-on:click="syukkin">出金</button>

      <h2>口座残高</h2>

      <div>残高:{{balance}}円</div>

      <h3>取引残高</h3>
      <div v-for="record in records">{{record}}</div>
    </div>

    <script src="https://unpkg.com/vue@3.2.20"></script>
    <script src="main.js"></script>
  </body>
</html>
